* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 92.5%;
}
@media only screen and (max-width: 1500px) {
  html {
    font-size: 95%;
  }
}
@media only screen and (max-width: 1110px) {
  html {
    font-size: 85%;
  }
}
/* for tablet */
@media only screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
}
/* for mobile */
@media only screen and (max-width: 480px) {
  html {
    font-size: 55%;
  }
}
