.chooseContainer {
  width: 100%;
  height: 28rem;
  background-color: rgb(242, 236, 236);
}
.heading h2 {
  display: flex;
  margin: auto;
  width: max-content;
  font-size: 2.3rem;
  padding-top: 3rem;
}
.info p {
  display: flex;
  max-width: max-content;
  font-size: 1.3rem;
  margin: auto;
  padding-top: 0.9rem;
  color: #6a6a6a;
}
.features {
  display: flex;
  margin-top: 3.5rem;
  justify-content: space-evenly;
}
.featureDiv {
  width: 19rem;
  height: 13rem;
  border-radius: 12px;
  background-color: white;
  transition: all 0.4s ease-in;
  cursor: pointer;
}
.featureDiv:hover {
  box-shadow: 4px 3px 24px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 3px 24px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 24px -7px rgba(0, 0, 0, 0.75);
}

.featureDivIcon span {
  display: flex;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #d6d6ff;
  border-radius: 50px;
  margin: 1rem auto;
  position: relative;
}
#videoIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  color: blue;
}
.featureDivHeading h4 {
  display: flex;
  width: max-content;
  margin: auto;
  font-size: 1.1rem;
}
.featureDivInfo p {
  margin-top: 0.7rem;
  box-sizing: border-box;
  padding: 0 1.2rem;
  font-size: 0.9rem;
  color: #6a6a6a;
}
.featureDivInfo span {
  display: flex;
  margin: auto;
  max-width: max-content;
  padding-top: 0.3rem;
  color: #6a6a6a;
}
#certificatePara {
  margin-left: 1rem;
}
/* responsive */

@media only screen and (max-width: 1500px) {
  .featureDiv {
    width: 18rem;
  }
  .featureDivInfo p {
    padding: 0 0.6rem;
  }
}

@media only screen and (max-width: 1500px) {
  .featureDiv {
    width: 16rem;
  }
  .featureDivInfo p {
    padding: 0 16px;
    font-size: 0.8rem;
  }
  .featureDivInfo span {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1110px) {
  .featureDivInfo p {
    padding: 0 16px;
    font-size: 0.7rem;
  }
  .featureDivInfo span {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 950px) {
  .featureDiv {
    width: 13rem;
  }
  .featureDivInfo p {
    font-size: 0.6rem;
  }
  .featureDivInfo span {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 450px) {
  .features {
    flex-direction: column;
    gap: 2rem;
  }
  .chooseContainer {
    height: 80rem;
  }
  .featureDiv {
    width: 32rem;
    height: 14rem;
    margin: auto;
  }
  .featureDivHeading h4 {
    font-size: 1.6rem;
  }

  .featureDivInfo p {
    font-size: 1rem;
    max-width: max-content;
    margin: auto;
    padding-top: 0.7rem;
  }
  .featureDivInfo span {
    font-size: 1rem;
  }
  #certificatePara {
    margin-left: 6rem;
  }
}
