.coursePageContainer {
}
.header {
  width: 100%;
  height: 7rem;
  background-color: rgb(242, 236, 236);
}
.header span {
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 4rem;
}
.container {
  display: flex;
  gap: 2rem;
  margin: 2rem 0 3rem;
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .container {
    flex-direction: column;
  }
}
