.editModal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.editModal_conatiner {
  position: fixed;
  top: 7rem;
  right: 0;
  width: 40rem;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}
.categorySection button {
  border: none;
  outline: none;
  width: max-content;
  margin: 0.3rem 1rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  height: 2rem;
  cursor: pointer;
}
.categorySection button:hover {
  background-color: rgb(73, 73, 255);
  color: white;
}
.categorySection p {
  font-size: 1.5rem;
  color: #9d9d9d;
  margin: 1rem;
}
.btnSection {
  width: 100%;
  margin-top: 3rem;
}
.btnSection button:nth-child(1) {
  width: 50%;
  background-color: #dfdfdf;
  border: none;
  outline: none;
  height: 6rem;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}
.btnSection button:nth-child(2) {
  width: 50%;
  background-color: blue;
  border: none;
  outline: none;
  height: 6rem;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}
