.heroContainer {
  width: 100%;
  height: 28rem;
  background-image: url("/heroSectionImage.jpg");
  background-color: rgba(55, 102, 255, 0.4);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}
.info {
  width: 42rem;
  margin-left: 4rem;
  padding-top: 7rem;
}
.headingSection h1 {
  font-size: 3.3rem;
  color: white;
}

.infoSection p {
  font-size: 1.4rem;
  padding-top: 1.2rem;
  color: white;
}
.btnSection {
}
.btnSection button {
  margin-top: 1.4rem;
}
.btnSection button:first-of-type {
  width: 9rem;
  height: 3.4rem;
  font-size: 1rem;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 1.1rem;
  color: blue;
}

.btnSection button:nth-of-type(2) {
  width: 14rem;
  height: 3.4rem;
  font-size: 1rem;
  border-radius: 50px;
  outline: none;
  border: 2px solid white;
  background: transparent;
  margin-left: 1rem;
  font-size: 1.1rem;
  color: white;
}

@media only screen and (max-width: 450px) {
  .info {
    width: 35rem;
    margin-left: 2rem;
  }
}
/* 
@media only screen and (max-width: 38px) {
  .info {
    width: 35rem;
  }
} */
