.instructorContainer {
}
.instuctorBOX {
  display: flex;
  box-sizing: border-box;
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
}
.informationSection span {
  display: block;
}
.imageSectoin {
  width: 10rem;
  /* border: 1px solid; */
}
.imageSectoin figure {
  /* height: 8rem;
  border: 1px solid;
  border-radius: 50%;
  width: 8rem; */
}
.imageSectoin figure img {
  height: 8rem;
  /* border: 1px solid; */
  border-radius: 50%;
  width: 8rem;
  object-fit: cover;
}
.informationSection {
  width: 57rem;
  /* border: 1px solid; */
}
.instructorContainer h3 {
  font-size: 1.7rem;
  margin-top: 1rem;
  margin-left: 4rem;
}
.informationSection span:nth-of-type(1) {
  font-size: 1.4rem;
  font-weight: bold;
}
.informationSection span:nth-of-type(2) {
  margin-top: 0.7rem;
  font-size: 1.2rem;
}
.informationSection span:nth-of-type(3) {
  margin-top: 3rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {
  .informationSection {
    width: 47rem;
  }
}
@media only screen and (max-width: 880px) {
  .informationSection {
    width: 40rem;
  }
}

@media only screen and (max-width: 880px) {
  .instuctorBOX {
    flex-direction: column;
  }
  .informationSection {
    margin-top: 2rem;
    width: 90%;
  }
}
