.navBoomContainer {
  border: 1px solid rgb(202, 202, 202);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  border-radius: 0.3rem;
}
.navBoomContainer button {
  display: block;
  margin: 2rem 0;
  width: 6rem;
  height: 2.3rem;
}
#prev {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease;
}

#prev:hover {
  background-color: black;
  color: white;
}

#next {
  background-color: blue;
  color: white;
  border: 1px solid blue;
  transition: all 0.3s ease;
}

#next:hover {
  background-color: white;
  color: blue;
}
