.replyTextContainer {
  width: 96%;
  margin: 0 0 2rem 2rem;
  border: 1px solid rgb(205, 205, 205);
}
.replyTextContainer textarea {
  width: 100%;
  height: 10rem;
  resize: none;
  outline: none;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  /* border: 1px solid rgb(205, 205, 205); */
}
.bottomBTN {
  background: #f3f3f3;
  display: flex;
  justify-content: right;
}
#postComment {
  width: 8.8rem;
  box-sizing: border-box;
  font-size: 1rem;
  height: 2.8rem;
  font-weight: bold;
  padding: 0 0rem;
  color: white;
  background-color: #2010ff;
  border-radius: 0.6rem;
  margin: 1.5rem 0px;
  margin-right: 1rem;
}
#cancel {
  font-size: 1.2rem;
  box-sizing: border-box;
  height: 2.8rem;
  color: black;
  text-align: center;
  justify-content: center;
  border-radius: 0.4rem;
  box-sizing: border-box;
  padding: 0 0;
  margin: 1.5rem 0px;
  width: 6rem;
  margin-right: 1rem;
  background-color: transparent;
}
#cancel:hover {
  background-color: rgb(211, 211, 211);
}
#postComment:hover {
  background-color: #6f65ff;
}
