.editModal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.editModal_conatiner {
  position: fixed;
  top: 7rem;
  right: 0;
  width: 40rem;
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(173, 40, 40);
  z-index: 1000;
}

.signupSection{

}