.messageContainer {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
}

/* for MainDiv */
.mainDivContainer {
  width: 80%;
  border-left: 1px solid #e6e6e6;
}

/* list student */
.listDMContainer {
  width: 20%;
}

.listSTD_p {
  font-size: 1.3rem;
  padding-bottom: 0.3rem;
  width: max-content;
  margin-left: 4rem;
  font-weight: bold;
}

#line {
  margin-top: 1.5rem;
  color: #c7c7c7;
}


/* here */
.profileContainer {
  display: flex;
  align-items: center;
  height: 5rem;
  gap: 1rem;
  padding: 0 2rem;
  cursor: pointer;
}
.profileContainer:hover {
  background-color: #c7c7ff;
}
.profileContainer:hover .profileP {
  background-color: whitesmoke;
  color: black;
}
/* .profileContainer {
  display: flex;
  align-items: center;
  height: 5rem;
  gap: 1rem;
  padding: 0 2rem;
  cursor: pointer;
}

.profileContainer:hover {
  background-color: #c7c7ff;
}

.profileContainer:hover .profileP {
  background-color: whitesmoke;
  color: black;
}

.profileContainer.active {
  background-color: #c7c7ff;
}

.profileContainer.active .profileP {
  background-color: whitesmoke;
  color: black;
} */


.profileP {
  height: 3rem;
  width: 3rem;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* font-size: 1.5rem; */
  font-size: 1rem;
}

/* chat header */
.main_profileContainer {
  display: flex;
  width: 100%;
  border: 1px solid #d6d6d6;
  gap: 1rem;
  padding: 0.6rem 0;
}

.main_profileP {
  height: 4rem;
  width: 4rem;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  margin-left: 2rem;
}

/* course info */
.course_INFO_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1rem 0;
}

.course_INFO_Container span {
  display: block;
}

/* messages */
.dm_messageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #f2f2f2;
}

.dm_messageContainer p {
  color: #6a6a6a;
  font-size: 0.9rem;
}

.sender,
.user {
  width: 12rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* LEFT */
.sender {
  justify-content: flex-start;
  margin-left: 1.7rem;
}

/* RIGHT */
.user {
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 1.7rem;
}

#dmPp {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.sender span {
  background-color: green;
}

.user span {
  background-color: blue;
}

#senderContent {
  width: 55%;
  margin-left: 5rem;
  font-size: 0.9rem;
  padding: 1rem 0.7rem;
  border-radius: 0.4rem;
  background-color: white;
}

#youContent {
  margin-left: 38%;
  width: 55%;
  font-size: 0.9rem;
  padding: 1rem 0.7rem;
  border-radius: 0.4rem;
  background-color: blue;
  color: white;
  margin-top: 0.9rem;
}

/* send message */
.sendMessageContainer {
  display: flex;
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
  padding: 1.7rem 0;
  justify-content: space-evenly;
}

.sendInputContainer {
  width: 80%;
}

.sendInputContainer input {
  width: 100%;
  height: 3.8rem;
  padding: 1rem;
  outline: none;
  border: 1px solid #939393;
  border-radius: 0.4rem;
}

.sendBTNContainer button {
  width: 4rem;
  height: 3.8rem;
  font-size: 1.5rem;
  background-color: blue;
  color: white;
  border-radius: 0.4rem;
  border: none;
}
.listSTD_Name {
  margin-top: 0.7rem;
}
@media only screen and (max-width: 1350px) {
  .listSTD_p {
    margin-left: 2rem;
  }
  .profileContainer {
    padding: 0 1.1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .listSTD_p {
    font-size: 1.2rem;
  }
  .profileContainer {
    padding: 0 0.5rem;
  }
}

@media only screen and (max-width: 990px) {
  .listSTD_p {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .listSTD_Name {
    font-size: 0.7rem;
  }
  .profileP {
    height: 2.7rem;
    width: 2.7rem;
  }
}
