
eureka:
  instance:
    prefer-ip-address: true
  client:
    registry-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      httpclient:
        connect-timeout: 5000
        response-timeout: 10s
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: enroll-service
          uri: lb://ENROLLMENT-SERVICE
          predicates:
            - Path=/enroll/**
          filters:
            - AuthenticationFilter

        - id: course-service
          uri: lb://COURSE-SERVICE
          predicates:
            - Path=/course/**
          filters:
            - AuthenticationFilter

        - id: stream-service
          uri: lb://STREAM-SERVICE
          predicates:
            - Path=/video/**
          filters:
            - AuthenticationFilter

        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**
          filters:
            - AuthenticationFilter

        - id: category-service
          uri: lb://CATEGORY-SERVICE
          predicates:
            - Path=/category/**
          filters:
            - AuthenticationFilter

        - id: review-service
          uri: lb://REVIEW-SERVICE
          predicates:
            - Path=/review/**
          filters:
            - AuthenticationFilter

        - id: chat-service
          uri: lb://CHAT-SERVICE
          predicates:
            - Path=/room/**
          filters:
            - AuthenticationFilter



server:
  port: 9090

jwt:
  secret: ThisIsMyJwtSecretKey123456789ABCDEF

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.retry: DEBUG
