
name: CI/CD for backend & frontend docker images

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - Back_End/Api-Gateway
          - Back_End/Auth-service
          - Back_End/Category-Service
          - Back_End/Chat-Service
          - Back_End/Course-Service
          - Back_End/Enrollment-Service
          - Back_End/Eureka-Server
          - Back_End/Notify-Service
          - Back_End/Payment-Service
          - Back_End/Review-Service
          - Back_End/Stream-Service
            
  
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Backend: set up JDK
    - name: Set up JDK 17 (backend only)
      if: startsWith(matrix.service, 'Back_End/')
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    # Backend: build with Maven
    - name: Build backend service
      if: startsWith(matrix.service, 'Back_End/')
      run: |
        cd ${{ matrix.service }}
        mvn clean install -DskipTests


    # Docker login
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Build & push Docker image (latest only)

    - name: Build & Push Docker Image
      run: |
        cd ${{ matrix.service }}

        SERVICE_NAME=$(basename "${{ matrix.service }}" | tr '[:upper:]' '[:lower:]')
        IMAGE_NAME=${{ secrets.DOCKER_USERNAME }}/$SERVICE_NAME


        docker build -t $IMAGE_NAME:latest .
        docker push $IMAGE_NAME:latest


# here basename in linux retrun the last part of the path  i.e matrix.service is like :: Back_End/Api-Gateway
# becomes Api-Gateway, and | tr '[:upper:]' '[:lower:]' comvert to api-gateway

